.layout{ 
  background-color: #FFFFFF;
  min-height: 100vh;
  /* width: 100vw; */
}

.section-title {
  background-color: #286D65;
  /* background-color: #0B877F; */
  position: relative;
  height: 100vh;
  width: 100%;
}

.section-intro {
  height: 100vh;
  width: 100vw;
  background-color: #F2B945;
  background-image: url('./assets/decoration/background.svg');
  background-size: cover;                   
  background-repeat: no-repeat;
  background-position: center; 
}

.section-porto {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: #F5F5F5;
}

.image-title {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}

.stage {
  cursor: pointer;
  position: absolute;
  margin: auto;
  left: 28%;
  right: 0;
  top: 20%;
  bottom: 0;
  text-align: center;
  height: 180px;
}

.image-button {
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  -webkit-filter: grayscale(20%); 
  filter: grayscale(20%);
	transition: 1s;
}

.image-button:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.img-intro {
  position: absolute;
  z-index: 3;
  left: 100px;
}

.img-next {
  position: absolute;
  z-index: 3;
  right: 80px;
  bottom: 10px;
  cursor: pointer;
}

.container-intro {
  padding: 110px 90px 50px;
  position: relative;
}

.container-intro .card {
  margin-top: 50px;
  font-size: 45px;
}

.card{
  background-color: #FFFFFF;
  border-radius: 30px;
  padding-top: 70px;
  padding-bottom: 30px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 6px 8px rgba(0,0,0,0.11),
              0 8px 16px rgba(0,0,0,0.11);
}

.card .card-content{
  margin-left: 5%;
  margin-right: 5%;
}

.bounce-big {
  animation-name: bounce-big;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}
@keyframes bounce-big {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-40px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-5px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}

@media screen and (max-width: 800px) {
  .image-title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 80%;
  }

  .stage{
    position: absolute;
    left: 0;
    right: -45%;
    top: 10%;
    bottom: 0;
    width: 60%;
  }
  .stage img {
    width: 48%;
  }

  .img-intro {
    position: relative;
    width: 100%;
    left: 0;
  }

  .img-next {
    display: none;
  }
  
  .container-intro {
    position: relative;
    padding: 110px 30px;
  }
  
  .container-intro .card {
    margin-top: -35px;
    font-size: 20px;
  }

  .card{
    background-color: #FFFFFF;
    border-radius: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
  }

}

@media screen and (max-width: 500px) {
  .image-title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 400px;
  }
  .stage{
    width: 50%;
    position: absolute;
    left: 0;
    right: -47%;
    top: 16%;
    bottom: 0;
  }
  .section-intro {
    width: 100%;
    background-image: none;
  }
}