.section-title {
  background-color: #286D65;
  position: relative;
  height: 100vh;
  width: 100%;
}

.section-intro {
  height: 100vh;
  width: 100vw;
  background-color: #F2B945;
}

.section-porto {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: #F5F5F5;
}


.image-title {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}

.stage {
  cursor: pointer;
  position: absolute;
  margin: auto;
  left: 28%;
  right: 0;
  top: 20%;
  bottom: 0;
  text-align: center;
  height: 180px;
}

.image-button {
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  -webkit-filter: grayscale(20%); 
  filter: grayscale(20%);
	transition: 1s;
}

.image-button:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.section-intro .wrapper {
  padding: 50px 100px;
}

.wrapper-intro {
  display: inline-flex;
}

.intro {
  font-size: 50px;
}

.dynamic-text {
  margin-top: 0;
  margin-left: 15px;
  font-size: 50px;
}

.dynamic-text .box {
  position: absolute;
  opacity: 0;
}

.text-animation-1 {
  color: #286D65;
  font-family: 'Roboto Bold';
  animation: ani1 15s infinite;
}

.text-animation-2 {
  animation: ani2 15s infinite;
  font-family: 'Roboto Bold';
  display: block;
  color: #286D65;
}

.text-animation-3 {
  color: #FFFFFF;
  font-family: 'Roboto Bold';
  animation: ani3 15s infinite;
}

.text-animation-2 div{
  background-color: #FFFFFF;
  padding: 0 10px;
}

.text-animation-1 span:after{
  content: '';
  position: absolute;
  height: 100%;
  left: 0;
  border-left: solid 2px #286D65;
  right: 0;
  background-color: #F2B945;
  animation: typewriter 5s infinite;
  animation-timing-function: steps(12);
  animation-fill-mode: backwards;
}

.text-animation-2 span {
  background-color: #F2B945;
}

.text-animation-2 span:after{
  content: '';
  position: absolute;
  background-color: #F2B945;
  width: 100%;
  top: 0;
  bottom: 0;
  animation: slide 5s infinite;
  animation-timing-function: steps(12);
  animation-fill-mode: backwards;
}

.text-animation-3 span:after{
  content: '';
  position: absolute;
  height: 100%;
  left: 0;
  border-bottom: solid 2px #FFFFFF;
  right: 0;
  background-color: #F2B945;
  animation: underline 5s infinite;
  animation-timing-function: steps(10);
  animation-fill-mode: both;
}

.container-intro {
  display: flex;
  min-height: max-content;
  padding-top: 100px;
  padding-bottom: 10px;
}

.bounce-big {
  animation-name: bounce-big;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

@keyframes bounce-big {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-40px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-5px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}

@keyframes ani1 {
  0%{
    opacity: 1;
  }
  33%{
    opacity: 1;
  }
  35%{
    opacity: 0;
  }
}

@keyframes ani2 {
  35%{
    opacity: 0;
  }
  37%{
    opacity: 1;
  }
  60%{
    opacity: 1
  }
  70%{
    opacity: 0;
  }
}

@keyframes ani3 {
  70%{
    opacity: 0;
  }
  71%{
    opacity: 0.5;
  }
  80%{
    opacity: 1
  }
  100%{
    opacity: 0;
  }
}

@keyframes typewriter {
  0%{
    left: 0;
  }
  50%{
    left: 100%;
  }
  100%{
    left: 0%;
  }
}

@keyframes slide {
  0%{
    top: 0;
    color: #286D65;
  }
  30%{
    top: 10%;
  }
  50%{
    top: 100%;
  }
  60%{
    top: 100%;
    color: black;
  }
  90%{
    top: 10%;
  }
  100%{
    top: 0;
  }
}

@keyframes underline {
  0%{
    left: 0;
  }
  10%{
    left: 0;
  }
  50%{
    left: 100%;
  }
  100%{
    left: 0%;
  }
}

@media screen and (max-width: 800px) {
  .image-title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 80%;
  }

  .stage{
    position: absolute;
    left: 0;
    right: -45%;
    top: 10%;
    bottom: 0;
    width: 60%;
  }
  .stage img {
    width: 48%;
  }

  .img-intro {
    position: relative;
    width: 100%;
    left: 0;
  }

  .img-next {
    display: none;
  }
  
  .container-intro {
    position: relative;
    padding-bottom: 10px;
  }

  .section-intro .wrapper {
    padding: 50px 40px;
  }
  .intro {
    font-size: 40px;
  }
  .dynamic-text {
    margin-top: 0;
    margin-left: 15px;
    font-size: 40px;
  }

}

@media screen and (max-width: 500px) {
  .image-title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 400px;
  }
  .stage{
    width: 50%;
    position: absolute;
    left: 0;
    right: -47%;
    top: 16%;
    bottom: 0;
  }
  .section-intro {
    width: 100%;
    background-image: none;
  }
  .section-intro .wrapper {
    padding: 50px 40px;
  }
  .intro {
    font-size: 30px;
  }
  .dynamic-text {
    margin-top: 0;
    margin-left: 15px;
    font-size: 30px;
  }
}